/*
  Need to style all inputs separately from our Candor inputs
  due to 1) time constrains, 2) the jsx layout written prior to
  styling and would take significant time change to use current
  form inputs and 3) the general idea that Service/UX will take an
  axe to this anyways to improve usability.
*/

@import 'Components/global.scss';

$border: 1px solid gray(30);
$gap: 1rem;

.form {
  article:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: $border;
  }

  h3, h4 {
    font-size: .875rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 700;
    color: navy-blue();

    &:first-child { margin-top: 0 }
  }

  h4 { margin-bottom: 0 }

  h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }

  details {
    border-bottom: $border;

    &[open] {
      > *:not(summary) { margin-left: 2.5rem }
      > summary::before {
        background-size: 40% 2px, 0% 0;
      }
    }
  }

  summary {
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    color: navy-blue();
    letter-spacing: .01em;
    padding: 2rem 2.5rem;
    list-style: none;

    &::-webkit-details-marker { display: none }
    &::before {
      content: '';
      position: absolute;
      left: 0; top: 50%;
      transform: translateY(-50%);
      width:24px; height:24px;
      background:
        linear-gradient(#fff,#fff),
        linear-gradient(#fff,#fff),
        navy-blue(90);
      background-size: 40% 2px,2px 40%;
      background-position:center;
      background-repeat:no-repeat;
      border-radius: 50%;
    }

    ~ details { border-top: $border }
    ~ details + details { border-top: none }
    ~ details:last-child { border-bottom: none }
    ~ *:not(details) { margin-bottom: $gap }
  }

  label {
    display: block;
    position: relative;
    > input:not([type=checkbox]), select, textarea  { margin-top: .5rem }
  }

  input[type=text], input[type=date], input[type=number], select, textarea {
    display: block;
    position: relative;
    color: blue();
    height: 55px;
    background-color: $gray;
    outline: none;
    border: none;
    border-radius: .375rem;
    transition: all 0.1s ease-in;
    width: 100%;
    padding: 0 1.25rem;
    font-size: 1rem;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $placeholder-gray;
      opacity: 1; /* Firefox */
      font-size: inherit;
    }

    &:-ms-input-placeholder { /* Microsoft */
      color: $placeholder-gray;
      font-size: inherit;
    }
  }

  input[type=checkbox] {
    position: relative;
    opacity: 1;
    cursor: pointer;
    height: 0;
    width: 1.5rem;
    margin: 1rem 0 1rem 1rem;
    appearance: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 1.5rem;
      width: 1.5rem;
      background-color: $gray;
      border-radius: .25rem;
      transition: all 200ms ease-out;
    }

    &:checked::after  {
      content: "√";
      font-size: 1.25rem;
      text-align: center;
      color: white;
      background-color: blue();
    }

    &:hover::after { background-color: gray(40) }
    &:hover:checked::after { background-color: blue(120) }
  }

  $select-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 87.4 75'%3E%3Cdefs%3E%3Cstyle%3E.a,.b%7Bfill:none;stroke:%23c6c6c6;stroke-miterlimit:10;%7D.a%7Bstroke-width:8px;%7D.b%7Bstroke-width:9px;%7D%3C/style%3E%3C/defs%3E%3Cline class='a' x1='5' x2='5' y2='75'/%3E%3Cpolyline class='b' points='47.85 28.91 65.47 46.52 83.5 28.48'/%3E%3C/svg%3E");
  $date-icon: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000" fill-opacity=".3" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');

  input[type=date]::-webkit-calendar-picker-indicator {
    background-image: $date-icon
  }

  select {
    appearance: none;
    padding-right: 3rem;
    background: $gray $select-icon;
    background-repeat: no-repeat;
    background-position: right 1.25rem center;
    background-size: 20px 20px;
  }

  textarea {
    min-height: 200px;
    padding: 1rem 1.25rem;
    resize: vertical;
  }

  input[type=button] {
    border-radius: 6px;
    padding: .75rem 1.25rem;
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: .04em;

    &.add {
      margin-top: $gap;
      color: white;
      background: navy-blue();
      border: none;
    }
    &.remove {
      color: caution();
      border: 1px solid caution();
      background: caution(20)
    }
  }

  input[type=button], input[type=submit] {
    box-shadow: 0 4px 12px rgba(112, 112, 112, 0.35);
    transition: all 100ms ease-out;

    &:hover, :focus {
      transform: scale(.99);
      box-shadow: 0 2px 8px rgba(112, 112, 112, 0.4)
    }

    &:active {
      transform: scale(.98);
      box-shadow: 0 0px 2px rgba(112, 112, 112, 0.4);
    }
  }

  input[type=submit] {
    margin-top: 2rem;
  }
}

.conditionQuestions ~ details:last-of-type {
  border: none;
}

.conditionMedicationsHeader {
  padding: 1rem 0 1rem 2.5rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.additionalInsuranceInformation,
.contactInformation,
.address,
.coverageInformation,
.employmentInformation,
.medicalHistory,
.memberName,
.memberSpecs,
.memberAbout,
.conditionQuestions,
.conditionMedications {
  display: grid;
  gap: $gap;
  align-items: center;
  justify-content: space-between;
}

.authAndSignature,
.additionalInsuranceInformation,
.coverageInformation,
.memberAbout,
.conditionQuestions,
.conditionMedications {
  grid-template-columns: 1fr 1fr
}

.contactInformation,
.address,
.employmentInformation,
.medicalHistory,
.memberSpecs {
  grid-template-columns: 1fr 1fr 1fr;
}

.memberMisc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.memberName { grid-template-columns: 2.5fr 1fr 2.5fr }

.additionalInsuranceInformation > *:first-child,
.contactInformation > *:first-child,
.address > *:first-child,
.employmentInformation > *:first-child,
.medicalHistory > *:last-child,
.conditionQuestions > *:last-child {
  grid-column: 1 / -1
}
